.barraLado{
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    color: #ffffff;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraLadoItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barraLadoItem > img{
    margin-top: 10px;
}

.barraLadoItem > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 800px;
}